{% extends 'layout.twig' %}

{% block body %}

<div class="ui container">
    {% include 'Admin/tabs.twig' with {'tab': 'countries'} %}

    <h3 class="ui horizontal divider header">
        <i class="teal map icon"></i>
        Add country
    </h3>

    {% include 'Admin/Country/form.twig' %}
</div>

{% endblock %}
