
body {
    padding-top: 70px;
}

.admin-tabs {
    margin-bottom: 50px;
}

#map {
    height: 500px;
    width: 100%;
    margin: 0px;
    padding: 0px
}

.comment-box {
    border: 1px black solid;
    margin-bottom: 1.5em;
}

.comment-author {
    font-weight: bold;
}

.comment-text{
    font-style : italic;
}