
body {
    padding-top: 70px;
}

.admin-tabs {
    margin-bottom: 50px;
}

#map {
    height : 100%;
    width : 100%;
    top : 0;
    left : 0;
    position : absolute;
    z-index : 2;
    border: 2px #009890 solid;
    border-radius : 1px;
    margin-bottom: 1.5em;
    padding : 1em;
}

.commentsArea {
    margin-bottom: 2em;
}

.comment-author {
    font-weight: bold;
}

.comment-text{
    font-style : italic;
}

.pull-right {
    float:right !important;
}

.menu-button {
    z-index: 9999;
}