
body {
    padding-top: 70px;
}

.admin-tabs {
    margin-bottom: 50px;
}

#map {
    margin: -22px 0 0 0;
    height: 600px;
    width: 100%;
    padding: 0;
    border-top: 3px #009890 solid;
    border-bottom: 3px #009890 solid;
    border-radius : 2px;
}

.comment-box {
    border: 2px #009890 solid;
    border-radius : 1px;
    margin-bottom: 1.5em;
    padding : 1em;
}

.commentsArea {
    margin-bottom: 2em;
}

.comment-author {
    font-weight: bold;
}

.comment-text{
    font-style : italic;
}

.pull-right {
    float:right !important;
}