{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

<div class="ui container">
    {% include 'Admin/tabs.twig' with {'tab': 'cities'} %}

    <h3 class="ui horizontal divider header">
        <i class="teal map icon"></i>
        Edit city
    </h3>

    <form action="" method="POST" class="ui form error">
        <div class="two fields">
            {{ form.group('name', city.name, 'name', 'Name') }}
        </div>
        <div class="two fields">
            {{ form.select('country_id', countries, '_id', 'name', null, 'Select a country', city.country_id, 'country_id', 'Country') }}
        </div>

        {{ csrf() }}
        <input type="submit" class="ui teal button" value="Create">
    </form>
</div>

{% endblock %}
