{% extends 'layout.twig' %}

{% block body %}

<div class="ui container">
    {% include 'Admin/tabs.twig' with {'tab': 'categories'} %}

    <h3 class="ui horizontal divider header">
        <i class="teal sitemap icon"></i>
        Edit category
    </h3>

    {% include 'Admin/Category/form.twig' with {'name': category.name} %}
</div>

{% endblock %}
