
{% import 'Macro/form.twig' as form %}

<form action="" method="POST" class="ui form error">
    <div class="two fields">
        {{ form.group('name', name, 'name', 'Name') }}
    </div>

    {{ csrf() }}
    <input type="submit" class="ui teal button" value="{% if name %}Edit{% else %}Create{% endif %}">
</form>
