{% extends 'layout.twig' %}

{% block body %}

<div class="ui container">
    {% include 'Admin/tabs.twig' with {'tab': 'categories'} %}

    <table class="ui teal striped celled table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th class="right aligned">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ category.name }}</td>
                <td class="right aligned">
                    <a href="{{ path_for('edit_category', {'id': category._id}) }}" class="ui mini icon button">
                        <i class="edit icon"></i>
                    </a>
                    <a href="{{ path_for('delete_category', {'id': category._id}) }}" class="ui mini red icon button">
                        <i class="remove icon"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
