{% extends 'layout.twig' %}

{% block body %}

<div class="container">

    <div class="jumbotron">
        <h1>Mongo Map</h1>
    </div>

    <div id="map"></div>

    <a href="{{ path_for('add_point') }}" target="_blank">
        <button class="btn btn-success pull-right"> Add a location </button>
    </a>

    <script>
        var map;
        function initialize() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 55, lng: 0},
                zoom: 2
            });


            {% for point in points %}
                new google.maps.Marker({
                    title: '{{ point.name }}',
                    position: {lat: {{ point.latitude }}, lng: {{ point.longitude }} },
                    map: map
                });
            {% endfor %}
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkIJ7rDp2F0J39TH8DRIvqtYHrJx-Zsi8&callback=initialize">
    </script>

</div>


{% endblock %}
