<div class="ui top fixed stackable menu">
    <a href="{{ path_for('home') }}" class="header item">
        <img src="https://camo.githubusercontent.com/5f2d2769bd6f4d8e1d46e7618c67b3dddd31b4a6/687474703a2f2f6d6f7264656d2e6e65742f77702d636f6e74656e742f75706c6f6164732f323031342f30312f6d6f6e676f64622d6c6f676f2e706e67"
             alt="Logo"> 
        MongoMap
    </a>
    <div class="right menu">
        <a href="{{ path_for('get_events') }}" class="item">Events</a>
        <a href="{{ path_for('admin') }}" class="item">Dashboard</a>
    </div>
</div>
