<div class="ui teal inverted top fixed stackable menu">
    <a href="{{ path_for('home') }}" class="header item">
        <img src="http://www.lafabriquedecode.com/blog/wp-content/uploads/2013/04/mongo_logo.png" alt="Logo"> MongoMap
    </a>
    <div class="right menu">
        <a href="{{ path_for('get_events') }}" class="item">Events</a>
        <a href="{{ path_for('admin') }}" class="item">Dashboard</a>
    </div>
</div>
